@charset "utf-8";
/* CSS Document */

@keyframes jump {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/* scroll */

.section-one > .fp-tableCell p {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    -webkit-transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out;
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.section-one.active > .fp-tableCell p {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.section-one.active > .fp-tableCell p {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

.section-one > .fp-tableCell div.pad {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    -webkit-transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out;
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.section-one.active > .fp-tableCell div.pad {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
.section-one.active > .fp-tableCell div.pad {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.section-one > .fp-tableCell div.scroll{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    -webkit-transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out;
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.section-one.active > .fp-tableCell div.scroll{
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
.section-one.active > .fp-tableCell div.scroll{
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}
/* motion one */

.section-two > .fp-tableCell p {
    opacity: 0;
    -webkit-transition: opacity .8s ease-in-out;
    transition: opacity .8s ease-in-out;
}

.section-two.active > .fp-tableCell p {
    opacity: 1;
}

.section-two.active > .fp-tableCell p {
    -webkit-transition-delay: .33s;
    transition-delay: .33s;
}

.section-two > .fp-tableCell div.phone {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    -webkit-transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out;
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.section-two.active > .fp-tableCell div.phone {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.section-two.active > .fp-tableCell div.phone {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.section-two > .fp-tableCell div.scroll{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    -webkit-transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out;
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.section-two.active > .fp-tableCell div.scroll{
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
.section-two.active > .fp-tableCell div.scroll{
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}

/* motion two */

.section-three > .fp-tableCell p {
    opacity: 0;
    -webkit-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}

.section-three.active > .fp-tableCell p {
    opacity: 1;
}

.section-three.active > .fp-tableCell p {
    -webkit-transition-delay: .33s;
    transition-delay: .33s;
}
.section-three > .fp-tableCell div.scroll{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    -webkit-transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out;
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.section-three.active > .fp-tableCell div.scroll{
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
.section-three.active > .fp-tableCell div.scroll{
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}

/* motion three */

.section-four > .fp-tableCell p {
    opacity: 0;
    -webkit-transition: opacity .8s ease-in-out;
    transition: opacity .8s ease-in-out;
}

.section-four.active > .fp-tableCell p {
    opacity: 1;
}

.section-four.active > .fp-tableCell p {
    -webkit-transition-delay: .33s;
    transition-delay: .33s;
}

.section-four > .fp-tableCell div.phone_2 {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    -webkit-transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out;
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.section-four.active > .fp-tableCell div.phone_2 {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.section-four.active > .fp-tableCell div.phone_2 {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.section-four > .fp-tableCell div.scroll{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    -webkit-transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out;
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity .8s ease-in-out,
    -webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.section-four.active > .fp-tableCell div.scroll{
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
.section-four.active > .fp-tableCell div.scroll{
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}

/* motion four */
