/*미디어쿼리 모바일*/

@media only screen and ( min-width: 320px) and ( max-width: 767px) {
    body,
    html {
        height: 100%;
    }
    #menu li {
        margin: 10px;
        color: #000;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    #menu li.active {
        background: #e32a05;

        color: #fff;
    }
    #menu li a {
        text-decoration: none;
        color: #000;
    }
    #menu li.active a:hover {
        color: #000;
    }
    #menu li:hover {
        background-color: #e32a05;
    }
    #menu li a,
    #menu li.active a {
        padding: 3px 3px;
        display: block;
    }
    #menu li.active a {
        color: #fff;
    }
    #menu {
        position: fixed;
        top: 42%;
        right: 1%;
        height: 40px;
        z-index: 1100;
    }
    nav h1 {
        position: fixed;
        top: 3%;
        left: 3%;
        z-index: 111;
    }
    nav h1 img {
        width: 25vw;
    }
    .menu-toggle {
        position: absolute;
        top: 3%;
        right: 220px;
        cursor: pointer;
        z-index: 1111;
    }
    .menu-toggle img {
        width: 8vw;
    }
    .rightNav {
        position: fixed;
        margin: auto 0;
        top: 0;
        width: 200px;
        height: 100%;
        background: #ff4c29;
        right: -200px;
        transition: all 0.5s ease-in-out;
        z-index: 1111;
    }
    .rightNav ul {
        width: 100%;
        list-style-type: none;
        background: #ff4c29;
        text-align: center;
        padding-left: 0;
        position: absolute;
        top: 0;
        z-index: 1111;
    }
    .rightNav ul li {
        overflow: hidden;        
        background: #ff4c29;
        border-bottom: 1px solid #b8361c;
        cursor: pointer;
        padding: 15px 0;
        z-index: 1111;
    }
    .rightNav ul li a {
        color: #fff;
    }
    .right {
        right: 0;
        z-index: 1111;
    }
    .bottomNav {
        position: fixed;
        margin: auto 0;
        top: 0;
        left: -70%;
        width: 40%;
        background: #ff4c29;
        transition: all 0.5s ease-in-out;
        z-index: 1;
        font-family: 'Nanum Gothic', sans-serif;
    }
    .bottomNav ul {
        width: 100%;
        list-style-type: none;
        background: #ff4c29;
        text-align: center;
        padding-left: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1111;
    }
    .bottomNav ul li {
        background: #ff4c29;
        border-bottom: 1px solid #b8361c;
        cursor: pointer;
        padding: 15px 0;
        z-index: 1111;
    }
    .bottomNav ul li a {
        text-align: left;
        margin-left: 10%;
        color: #fff;
    }
    .bottomNav ul li a.l_btn{
        width: 80%;
        text-align: center; 
        background-color: #b22f15;
        padding: 15px 0;
        border-radius: 10px;
    }
    .bottomNav ul li:last-child img{
        width: 41vw;
    }
    .bottomNav ul li input[type=text] {
        width: 80%;
        height: 6vw;
        border: none;
        outline: none;
        border-radius: 20px;
        background-color: #fff;
    }
    .bottomNav ul li select {
        width: 25%;
        height: 7.5vw;
        border-radius: 20px;
        border: none;
        outline: none;
    }
    .bottomNav ul li input[type=tel] {
        width: 26%;
        height: 7.5vw;
        border-radius: 20px;
        border: none;
        outline: none;
        background-color: #fff;
    }
    .bottomNav ul li textarea {
        width: 80%;
        height: 10vh;
        border-radius: 15px;
    }
    .bottom {
        left: 0%;
        z-index: 1111;
    }
    header {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100vh;
        background-position: 40% 50%;
        background-image: url(../img/m_main_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 10;
    }
    header div.scroll {
        position: absolute;
        bottom: 1%;
        left: 43%;
        z-index: 1111;
        animation: jump 0.5s ease 0.5s 3 normal;
    }
    header div.scroll img {
        width: 15vw;
    }
    header div.header_text {
        position: absolute;
        top: 30%;
        left: 3%;
    }
    header div.header_text img {
        width: 60vw;
    }
    header div.header_text p.header_p a img {
        width: 50vw;
        margin-left: 5%;
    }
    section.section.section_1 {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        z-index: 10;
    }
    section.section_1 div.scroll {
        position: absolute;
        bottom: 1%;
        left: 43%;
        z-index: 1111;
        animation: jump 0.5s ease 0.5s 3 normal;
    }
    section.section_1 div.scroll img {
        width: 15vw;
    }
    section.section_1 div.pad {
        position: absolute;
        top: 10%;
        left: 6%;
    }
    section.section_1 div.pad img {
        width: 80vw;
    }
    section.section_1 div.section_text {
        position: absolute;
        top: 60%;
        left: 10%;
        line-height: 50px;
    }
    section.section_1 div.section_text img.digital {
        display: none;
        float: left;
        width: 80vw;
    }
    section.section_1 div.section_text img.digital_2 {
        display: block;
        float: left;
        width: 80vw;
    }
    section.section_2 {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: #F7F7F7;
        z-index: 9;
    }
    section.section_2 div.scroll {
        position: absolute;
        bottom: 1%;
        left: 43%;
        z-index: 1111;
        animation: jump 0.5s ease 0.5s 3 normal;
    }
    section.section_2 div.scroll img {
        width: 15vw;
    }
    section.section_2 div.phone {
        position: absolute;
        top: 10%;
        left: 6%;
    }
    section.section_2 div.phone img {
        width: 83vw;
    }
    section.section_2 div.section2_text {
        position: absolute;
        top: 65%;
        left: 4%;
    }
    section.section_2 div.section2_text img {
        display: block;
        float: left;
        width: 80vw;
    }
    section.section_2 div.section2_text p.section2_p {
        letter-spacing: -2px;
        line-height: 50px;
    }
    section.section_2 div.section2_text p.section2_p img.market {
        display: none;
        width: 80vw;
    }
    section.section_2 div.section2_text p.section2_p img.market_2 {
        width: 90vw;
    }

    section.section_3 {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100vh;
        background: url(../img/m.slide4_bg.jpg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #fff;
        z-index: 11;
    }
    section.section_3 div.scroll {
        position: absolute;
        bottom: 1%;
        left: 43%;
        z-index: 1111;
        animation: jump 0.5s ease 0.5s 3 normal;
    }
    section.section_3 div.scroll img {
        width: 15vw;
    }
    section.section_3 div.section3_text {
        position: absolute;
        top: 10%;
        left: 20%;
    }
    section.section_3 div.section3_text img {
        width: 60vw;
    }
    section.section_3 div.section3_text p.section3_p {
        letter-spacing: -2px;
        text-align: center;
        line-height: 50px;
    }
    section.section_4 {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url(../img/slide5_bg.jpg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #fff;
        z-index: 11;
    }
    section.section_4 div.scroll {
        position: absolute;
        bottom: 1%;
        left: 43%;
        z-index: 1111;
        animation: jump 0.5s ease 0.5s 3 normal;
    }
    section.section_4 div.scroll img {
        width: 15vw;
    }
    section.section_4 div.phone_2 {
        position: absolute;
        bottom: -1%;
        left: 27%;
    }
    section.section_4 div.phone_2 img {
        width: 45vw;
    }
    section.section_4 div.section4_text {
        position: absolute;
        top: 3%;
        left: 8%;
    }
    section.section_4 div.section4_text p.section4_p img.text5 {
        display: none;
        width: 45vw;
    }
    section.section_4 div.section4_text p.section4_p img.m_text5 {
        width: 85vw;
    }
    section.section_4 div.section4_text p.section4_p a img {
        width: 60vw;
        margin-left: 15%;

    }

    section.section_5 {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url(../img/slide6_bg.jpg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #fff;
        z-index: 11;
    }

    section.section_5 div.section5_text {
        overflow: hidden;
        width: 100%;
        margin-left: 5%
    }
    section.section_5 div.section5_text p.section5_p {
        float: left;
        width: 10%;
    }
    section.section_5 div.section5_text p.section5_p img {
        width: 60vw;
    }
    section.section_5 div.section5_text p.section5_p span.section_3_ul {
        font-size: 1.5em;
        font-family: 나눔스퀘어 Light;
        line-height: 20px;
        color: #fff;
    }
    section.section_5 div.section5_text div#map {
        clear: both;
        width: 100%;
        height: 350px;
    }
    section.section_5 div.section5_text div#map div#daumRoughmapContainer1521425466496 {
        width: 90%;
    }

}
